[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
# Pinned to `3.0.*` because:
# 1. This is the version is currently tested with `edx-auth backends`: https://github.com/edx/auth-backends/blob/3.1.0/tox.ini#L10
# 2. Django 3.1 does not work with the current version of `django-dynamic-fixture`: https://github.com/paulocheque/django-dynamic-fixture/issues/135
Django = "==3.0.*"
edx-auth-backends = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
psycopg2-binary = "*"

[dev-packages]
tox = "*"
pytest = "*"
pylint = "*"
django-dynamic-fixture = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
